@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#Con-Main{
    height: 100vh !important;
}
#P-Div{
    background-color: #f5f5f5;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.4) !important;
}
#logo2{
    display: none !important;
}
#sidelogo{
    width: 500px !important;
}
#inptb{
    transition: transform 0.3s ease;
}
#inptb:active{
    transform: scale(0.95);
}

@media (max-width: 768px) {
    #C-Div{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    #logo1{
        display: none !important;
    }
    #logo2{
        display: block !important;
    }
    #sidelogo{
        width: 320px !important;
        height: 250px !important;
        margin-bottom: 3% !important;
    }
    #inpt, #inptb{
        width: 290px !important;
    }
    #warn{
        font-size: 14px;
    }
}
  