*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#list{
    cursor: pointer;
}
#inpsbmt{
    width: 50px;
}
#inpsbmt input{
    width: 100%;
    font-weight: 500;
    background-color: #0a1d44 !important;
    color: white;
    border-radius: 2.5px;
    border: 2px solid #0a1d44;
    transition: transform 0.5s ease;
}
#inpsbmt input:active{
    transform: scale(0.9);
}
#cards {
    width: 48%;
    border: 1.5px solid #0a1d4452;
    border-radius: 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease;
    background: linear-gradient(160deg, #c5ebfe, #ffffff);
}
#cards:hover{
    transform: translateY(-10px);
}