

table { 
  width: 100%; 
  border-collapse: collapse; 
 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: ; 
  font-color:#002147;
}
th { 
  background: #95b9db; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 

}